# Global Settings

RESTART_POLICY=unless-stopped
CONFIG_DIR=/docker/config

# Homepage Settings

HP_BIND_ADDRESS=0.0.0.0
HP_BIND_PORT=3000
PUID=1000
PGID=1000
HOMEPAGE_ALLOWED_HOSTS=localhost:3000


# Docker Socket Proxy Settings

DSP_BIND_ADDRESS=127.0.0.1
DSP_BIND_PORT=2375
CONTAINERS=1
SERVICES=1
TASKS=1
POST=0
